# Bank Management System with Python

#### import mysql.connector

In [1]:
import mysql.connector as c

#### Connect with mysql database

In [2]:
db = c.connect(host="localhost",user="root",password="Nb123@",auth_plugin='mysql_native_password')
#check for connection
if db.is_connected():
    print("Successfully connected")
else:
    print("Not connected")

Successfully connected

#### Make cursor to execute SQL query

In [3]:
curr = db.cursor()

#### Create database name with Bank_management

In [5]:
curr.execute("Create database Bank_management")

#### Create two tables Bank_Account and Bank_Amount

In [8]:
curr.execute("Use Bank_management")
curr.execute("Create table Bank_Account(User_Accountno varchar(15) primary key,User_Name varchar(30),DOB varchar(10),Address varchar(50),Phone_no varchar(10),Opening_balance int)")

In [11]:
curr.execute("Create table Bank_Amount(User_Accountno varchar(15) primary key,User_Name varchar(30), Balance int)")

#### Make functions for Bank like - 
1.open_Account, 2.deposit_amount, 3.withdraw_amount, 4.check_balance, 5.display details of user, 6.close an account

In [7]:
def open_account():
    name = input("Enter name:")
    account_no = input("Enter account no:")
    dob = input("Enter DOB:")
    address = input("Enter address:")
    phone = input("Enter phone:")
    open_bal = int(input("Enter opening balance:"))
    data1 = (account_no,name,dob,address,phone,open_bal)
    data2 = (account_no,name,open_bal)
    sql1 = "insert into Bank_Account values(%s,%s,%s,%s,%s,%s)"
    sql2 = "insert into Bank_Amount values(%s,%s,%s)" 
    curr = db.cursor()
    curr.execute(sql1,data1)
    curr.execute(sql2,data2)
    db.commit()
    print("Data Entered successfully")
    main_program()

def deposit_amount():
    amount = int(input("Enter amount:"))   
    an = input("Enter account no:")
    a = "select balance from Bank_Amount where User_Accountno=%s"
    data = (an,)
    curr = db.cursor()
    curr.execute(a,data)
    result = curr.fetchone()
    t = result[0]+amount
    sql = "update Bank_Amount set balance=%s where User_Accountno=%s"
    data = (t,an)
    curr.execute(sql,data)
    db.commit()
    main_program()

def withdraw_amount():
    amount = int(input("Enter amount:"))   
    an = input("Enter account no:")
    a = "select balance from Bank_Amount where User_Accountno=%s"
    data = (an,)
    curr = db.cursor()
    curr.execute(a,data)
    result = curr.fetchone()
    t = result[0]-amount
    sql = "update Bank_Amount set balance=%s where User_Accountno=%s"
    data = (t,an)
    curr.execute(sql,data)
    db.commit()
    main_program()
    
    
#ac = account_number 
def check_balance():
    ac = input("Enter account no:")
    a = "select balance from Bank_Amount where User_Accountno=%s"
    data = (ac,)
    curr = db.cursor()
    curr.execute(a,data)
    result = curr.fetchone()
    print("Balance for Account:",ac,"is",result[0])
    main_program()



def display_user_details():
    ac = input("Enter account no:")
    a = "select * from Bank_Amount where User_Accountno=%s"
    data = (ac,)
    curr = db.cursor()
    curr.execute(a,data)
    result = curr.fetchone()
    for i in result:
        print(i,end=" ")  
    main_program()


def close_account():
    ac = input("Enter account no:")
    sql1 = "delete from Bank_Account where User_Accountno=%s"
    sql2= "delete from Bank_Amount where User_Accountno=%s"
    data = (ac,)
    curr = db.cursor()
    curr.execute(sql1,data)
    curr.execute(sql2,data)
    db.commit()
    main_program()
    
def main_program():
    print("""
    1.Open New Account
    2.deposit account
    3.withdraw amount
    4.balance check
    5.display details of user
    6.close an account
    """)
    choice = int(input("Enter Task number: "))
    if(choice==1):
        open_account()
    elif(choice==2):
        deposit_amount()
    elif(choice==3):
        withdraw_amount()
    elif(choice==4):
        check_balance()
    elif(choice==5):
        display_user_details()
    elif(choice==6):
        close_account()
    else:
        print("Give Wrong input please enter right input")
main_program()

    1.Open New Account
    2.deposit account
    3.withdraw amount
    4.balance check
    5.display details of user
    6.close an account

Enter Task number: 1
Enter name:Divya
Enter account no:2001546723
Enter DOB:09/01/2000
Enter address:Delhi
Enter phone:7054340760
Enter opening balance:2000
Data Entered successfully

    1.Open New Account
    2.deposit account
    3.withdraw amount
    4.balance check
    5.display details of user
    6.close an account

Enter Task number: 2
Enter amount:1000
Enter account no:2001546723

    1.Open New Account
    2.deposit account
    3.withdraw amount
    4.balance check
    5.display details of user
    6.close an account

Enter Task number: 7
Give Wrong input please enter right input

#### To show all results from first table and second table

In [8]:
curr.execute("select * from Bank_Account")
for i in curr:
    print(i)

('200133567234', 'Rohan', '07/02/2005', 'Agra', '6394346722', 2000)
('2001546723', 'Divya', '09/01/2000', 'Delhi', '7054340760', 2000)
('40226818567', 'Nisha', '08/03/2002', 'Greater Noida', '7054367234', 1000)

In [9]:
curr.execute("select * from Bank_Amount")
for i in curr:
    print(i)

('200133567234', 'Rohan', 2000)
('2001546723', 'Divya', 3000)
('40226818567', 'Nisha', 1000)

#### Withdraw amount from any account

In [10]:
main_program()

    1.Open New Account
    2.deposit account
    3.withdraw amount
    4.balance check
    5.display details of user
    6.close an account

Enter Task number: 3
Enter amount:500
Enter account no:2001546723

    1.Open New Account
    2.deposit account
    3.withdraw amount
    4.balance check
    5.display details of user
    6.close an account

Enter Task number: 7
Give Wrong input please enter right input

#### After withdraw result

In [11]:
curr.execute("select * from Bank_Amount")
for i in curr:
    print(i)

('200133567234', 'Rohan', 2000)
('2001546723', 'Divya', 2500)
('40226818567', 'Nisha', 1000)

#### Check balance

In [12]:
main_program()

    1.Open New Account
    2.deposit account
    3.withdraw amount
    4.balance check
    5.display details of user
    6.close an account

Enter Task number: 4
Enter account no:2001546723
Balance for Account: 2001546723 is 2500

    1.Open New Account
    2.deposit account
    3.withdraw amount
    4.balance check
    5.display details of user
    6.close an account

Enter Task number: 7
Give Wrong input please enter right input

#### Display details of user

In [14]:
main_program()

    1.Open New Account
    2.deposit account
    3.withdraw amount
    4.balance check
    5.display details of user
    6.close an account

Enter Task number: 5
Enter account no:2001546723
2001546723 Divya 2500
    1.Open New Account
    2.deposit account
    3.withdraw amount
    4.balance check
    5.display details of user
    6.close an account

Enter Task number: 7
Give Wrong input please enter right input

#### Close account

In [15]:
main_program()

    1.Open New Account
    2.deposit account
    3.withdraw amount
    4.balance check
    5.display details of user
    6.close an account

Enter Task number: 6
Enter account no:2001546723

    1.Open New Account
    2.deposit account
    3.withdraw amount
    4.balance check
    5.display details of user
    6.close an account

Enter Task number: 7
Give Wrong input please enter right input

#### show result after close account

In [16]:
curr.execute("select * from Bank_Amount")
for i in curr:
    print(i)

('200133567234', 'Rohan', 2000)
('40226818567', 'Nisha', 1000)

#### Show table

In [17]:
curr = db.cursor()
curr.execute("show tables")
for i in curr:
    print(i)

('bank_account',)
('bank_amount',)